<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/editor/alda/Alda"
			class = "org.xtext.editor.alda.alda.AldaPackage"
			genModel = "model/generated/Alda.genmodel" />
	</extension>
</plugin>
